body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  padding: 25px;
  box-sizing: border-box;
  background-color: #efefef;
}
.ant-card {
  height: 270px;
}

.block {
  display: block;
}
.mt {
  margin-top: 12px;
}
.mb {
  margin-bottom: 12px;
}
.mr {
  margin-right: 12px;
}
